<div class="container">

	<h1>Мои заказы</h1>

	<table class="table">
		<tr>
			<th>Номер заказа</th>
			<th>Перечень блюд</th>
			<th>Дата заказа</th>
			<th>Стоимость заказа (сомы)</th>
		</tr>
		<% @orders.each_with_index do |order, index| %>
		<tr>	
			<td><%= index+1 %></td>
			<td><%= link_to "Перечень блюд", order %></td>
			<td><%= order.created_at.strftime("%d %b. %Y") %></td>
			<td><%= order.total_price %></td>
		</tr>
		<% end %>
	</table>

</div>


